span{
    color:purple;
 }

body{
    font-family: sans-serif;
    background-color:internal-light-dark (black, white);
 }

.first {
    margin: auto;
    display: block;
 }

.select {
    word-spacing:68px;
    font-size: 12px;
 }

 div {
    word-spacing:60px;
    color: white;
    font-size:10px;
 
 }

 
     
 body{
    background-color:black;
    color: white;
    margin: 175px;
 }

.stats {
    font-size:10px;
 }

img {
    padding-left:75px;
}

table{
    background-color:violet;
    border-radius: 4px;
}




    

     

     
     

 
     
     
 

    

 
     
 
    
